/training_data
/cyclist_detection
/cyclist_training_data
/Combined_Dataset
/cyclist_Only_Dataset_v2
/Cyclist_Unified_Dataset
/Dataset2_cyclist_detection
#/cyclist_detection_yolo11n
*epoch*
*.mp4
*.zip
/Cyclist_Pedestrian_Dataset
/pdx_cyclist_dataset
Pedestrian_Detection/
People_Detection/
ECP*/
cyclist_detection_yolo11n/
eurocity_yolo/
/BACKUP_pdx_cyclist_dataset/
/pdx_cyclist_dataset_3x/
/pdx_cyclist_dataset_coco/
/v4_augmented_10x_pdx_cyclist_dataset/
/v4_pdx_cyclist_dataset/
/v4_pdx_cyclist_dataset_3x/
*.pth
*.pt
*.onnx
